<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Formulaire</title>
		<meta name="viewport" content="width=device-width,initial-scale=1">

		<!-- Lien pour bootstrap CSS -->
		<!-- <link rel="stylesheet" href="https:/cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"> -->
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ENjdO4Dr2bkBIFxQpeoY9CUG9sI1p4MXn984fzlWfo5wVoH27N4d8Mvn1NQZr1An" crossorigin="anonymous">
	</head>
	
	<body class="container mt-5">

		<div>
			<h1 class="text-center">This is a Heading</h1>
			<form method="POST" action="/form" class="mt-4">
				<div class="mb-3">
					<label for='name'class="form-label">Nom :</label>
					<input type="text" id="name" name="name" class="form-control" required>
				</div>
				<div class="mb-3">
					<label for='age'class="form-label">Âge :</label>
					<input type="number" id="age" name="age" class="form-control" required>
				</div>
				<div class="mb-3">
					<label for='password'class="form-label">Mot de passe :</label>
					<input type="password" id="password" name="password" class="form-control" required>
				</div>

					<button type="submit" class="btn btn-success">Envoyer</button>
				
			</form>
		</div>
			<a href="/users" class="btn btn-secondary mt-3">Retour</a>
		</div>

	</body>
